
h1 {
    color:rgba(247, 24, 24, 0.979);
    text-decoration: solid underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}